@import '~/app';

.navigation {
  display: flex;
  align-items: center;
  flex: 1;
  &-item {
    padding: 0 20px;
    position: relative;
    display: flex;
    align-items: center;
    color: rgba($color-black-base, 0.65);
    white-space: nowrap;
    & + & {
      border-left: 1px solid #f0f0f0;
    }
    .anticon {
      min-width: 14px;
      font-size: 14px;
    }
    &:hover,
    &.is-active {
      color: $color-blue-base;
    }
  }
}
