@import '~/app';

.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 25px;
  color: rgba(0,0,0,.65);
  background: $color-white-base;
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.06), 0 3px 6px 0 rgba(0, 0, 0, 0.02), 0 5px 12px 4px rgba(0, 0, 0, 0.04);
  .header-col {
    display: flex;
    align-items: center;
  }
  .header-title {
      font-size: 24px;
      font-weight: 500;
  }
}